@import './colors.scss';

body {
  
}

.wrapper {
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
}

a.active-a {
  color: $blue;
}

@media (max-width: 1230px) {
  .wrapper {
    padding: 0 20px;
  }
}