@import './colors.scss';

.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

a.active-a {
  color: $blue;
}

@media (max-width: 1230px) {
  .wrapper {
    padding: 0 20px;
  }
}