.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  max-width: 1200px;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}