// Colors schema:
$white: #ffffff;
$semiWhite: #f2f2f2;

$black: #24292E;
$semiBlack: #282C34;

$gray: #989898;
$lightGray: #F0F2F5;

$blue: #1B66D6;
$darkBlue: #1654B0;

$red: red;

$yellow: #CEFF00;


