@import '../../../styles/colors.scss';

.InputError {
  position: absolute;
  top: 38px;
  left: 0;
  min-width: 400px;
  font-size: 14px;
  color: $red;
}

@media (max-width: 1600px) {
  .InputError {
    font-size: 13px;
  }
}