@import '../../../styles/colors.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: $black;

  .Left,
  .Right {
    display: flex;
  }

  .Logo {
    width: 30px;
    height: 30px;
  }

  .Logout {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: transparent url('../../../assets/icons/logout.svg') no-repeat center center;
    background-size: 29px;
    cursor: pointer;
    transition: .1s;

    &:hover {
      background: $white url('../../../assets/icons/logout.svg') no-repeat center center;
      background-size: 29px;
    }
  }

}